body {
    background-color: black;
    color: black;
}
 header{
    font-size: 50px;
    border-bottom: 5px green;
    padding: 40px;
    text-align: center;
    color: greenyellow;
 }
 h1{
    font-size: 25px;
 }
.chamada {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
 }

.chamada-texto {
     margin-right: 30px;
 }
 img{
   width: 300px;
   height: 200px;
 }